.ListItem {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
}

.ListItem_selected {
  background: #75aaf1;
  color: #fff;
}

.ListItem-code {
  padding: 20px 10px 20px 20px;
}

.ListItem-title {
  width: 100%;
  padding: 20px 10px;
}

.ListItem-price {
  padding: 20px 10px;
}

.ListItem-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
}
